* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  height: 100%;
}


body {
  background-color: #19a2ae;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#container {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-card {
  height: 375px;
  background-color: #fff;
  width: 25%;
}
