@import url('https://fonts.google.com/specimen/Kumbh+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

html, body {
  height: 100%;
}


body {
  background-color: #19a2ae;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#container {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-card {
  /* height: 375px; */
  height: 60%;
  background-color: #fff;
  width: 25%;
  border-radius: 1rem;
}

.pattern-card > img {
  width: 100%;
}

.profile-img {
  text-align: center;
}

.profile-img > img {
  border-radius: 50%;
}

.profile-info {
  text-align: center;
  height: 45%;
  display: flex;
  flex-direction: column;
  gap:1rem;
  color: #2d3248;
}

.profile-info > hr {
  border-width: 0 0 2px 0;
}

.social-media-info {
  display: flex;
  justify-content: space-around;
}

.light-font {
  color: #969696;
  font-weight: 400;
}

.social-media-font {
  margin-top: 0.25rem;
  font-size: 0.6em;
  letter-spacing: 0.1em;
}

.venue {
  font-size: 0.8em;
  margin: 0.5rem 0 0 0;
}
