@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5eff5;
}

.community {
  background-color: #fff;
  width: 45%;
  border-radius: 8px 8px 0 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.community > h1 {
  color: #2ab2af;
}

.community > h3 {
  color: #c0df34;
}

.community > p {
  color: #98a6bd;
}

.card-block {
  display: flex;
  color: #e5eff5;
  width: 45%;
  border-radius: 0 0 8px 8px;
}

.subscription-block {
  background-color: #2ab2af;
  width:50%;
  padding: 40px;
}

.subscription-block button {
  width: 90%;
  color: #fff;
  background-color: #c0df34;
  border: 0;
  border-radius: 5px;
  padding: 10px 0;
}

.subscription-block span {
  font-size: 2rem;
  font-weight: 700;
}

.subscription-block > * {
  margin-bottom: 20px;
}

.info-block {
  background-color: #55b9b8;
  width: 50%;
  padding: 40px;
}

.info-block > h4 {
  margin-bottom: 20px;
}

/* Mobile layout */

@media (max-width: 768px) {

  .community {
    width: 85%;
  }

  .card-block {
    width: 85%;
    flex-direction: column;
  }

  .subscription-block {
    width: 100%;
  }

  .info-block {
    width: 100%;
  }
}
